#System trash folder
.Trash-0/

#Ignore all Jupyter notebook checkpoints recursively
.ipynb_checkpoints

#Ignore all Python __pycache__ folders recursively
__pycache__/
__init__.py

# Ignore the saved model
*.pth
*.h5

*.pb
variables/
assets/
wandb/
home-lan/data

